body{
	margin : 0;
}
#upper{
	position : relative;
	margin : 0;
	padding : 0;
	overflow : hidden;
	height : 20%;
	overflow: hidden;
	background-color: #bdccd4;
}
#mainframe{
	position : relative;
	background-color: #bdccd4;
	height : 80%;
	padding : 0;
	overflow: hidden;
}
#center{
	position : relative;
	background-color: #1a1f26;
	height : 75%;
	padding : 0;

}

#switch{
	position : relative;
	text-align: center;
	height : 15%;
	bottom:0;
	padding-top: 6rem;
	overflow: visible;
}

#underbar{
	background-color: #323c45;
	text-align: center;
	height : 15%;
	overflow: hidden;

}